body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}
html,
*,
*::before,
*::after {
	box-sizing: border-box;
}
button{
	font-size: 1em;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    border: 0;
    cursor: pointer;
}
button:active{
    opacity: 0.8;
}
#root{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 1em;
}
.App{
	display: flex;
	flex-direction: column;
	flex: 1;
}